# name of the veeam backup job as set in veeam!
JOBNAME="myJobName"
# the sender email address
EMAILFROM="mail@my.domain"
# receiver email address
EMAILTO="mail@my.domain"
# directory of mail template file
HTMLTEMPLATE="/opt/vee-mail/vee_mail_template.html"
# if curl is installed vee-mail may check for new version if set to 1
SKIPVERSIONCHECK=0
# if you backup to a smb-share fill in your credentials to get infos about free backup space
SMBUSER=""
SMBPWD=""
# infomail: 1=always, 2=warning only, 3=error only
INFOMAIL=1
# if set to 1 get more debug output on script run
DEBUG=0
